{{ 'section-heading.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-heading.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate page-width">
  <div
    class="heading-section color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding"
    data-heading-section
  >
    <div class="heading-section__inner">
      {%- if section.settings.overlay_image_1 != blank -%}
        <div class="heading-section__overlay heading-section__overlay--1">
          {{
            section.settings.overlay_image_1
            | image_url: width: 1200
            | image_tag: loading: 'lazy', sizes: '(min-width: 750px) 200px, 120px', widths: '120, 200, 300, 400'
          }}
        </div>
      {%- endif -%}

      <h2 class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.heading | replace: '<p>', '' | replace: '</p>', '' }}
      </h2>

      {%- if section.settings.overlay_image_2 != blank -%}
        <div class="heading-section__overlay heading-section__overlay--2">
          {{
            section.settings.overlay_image_2
            | image_url: width: 1200
            | image_tag: loading: 'lazy', sizes: '(min-width: 750px) 200px, 120px', widths: '120, 200, 300, 400'
          }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Heading",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading text",
      "default": "<p>Heading</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "fh1",
          "label": "FH1 (100px)"
        },
        {
          "value": "fh2",
          "label": "FH2 (80px)"
        },
        {
          "value": "fh3",
          "label": "FH3 (64px)"
        },
        {
          "value": "fh4",
          "label": "FH4 (40px)"
        },
        {
          "value": "fb",
          "label": "FB (24px)"
        },
        {
          "value": "fsm",
          "label": "FSM (16px)"
        }
      ],
      "default": "fh2",
      "label": "Heading size"
    },
    {
      "type": "image_picker",
      "id": "overlay_image_1",
      "label": "Overlay image 1"
    },
    {
      "type": "image_picker",
      "id": "overlay_image_2",
      "label": "Overlay image 2"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}
