{{ 'section-image-layout-two.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="image-layout-two">
    <div class="bg-image">
      {%- if section.settings.background_image != blank -%}
        {{
          section.settings.background_image
          | image_url: width: 3200
          | image_tag:
            loading: 'lazy',
            sizes: '100vw',
            widths: '375, 550, 750, 1100, 1500, 2000, 2500, 3000, 3200'
        }}
      {%- endif -%}
    </div>

    <div
      class="overlay-image"
      style="border-color: {{ section.settings.overlay_border_color }};"
    >
      {%- if section.settings.overlay_image != blank -%}
        {{
          section.settings.overlay_image
          | image_url: width: 2400
          | image_tag:
            loading: 'lazy',
            sizes: '(min-width: 990px) 60vw, 90vw',
            widths: '375, 550, 750, 1100, 1500, 2000, 2400'
        }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Layout Two",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay image"
    },
    {
      "type": "color",
      "id": "overlay_border_color",
      "label": "Overlay border color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Image Layout Two"
    }
  ]
}
{% endschema %}
