<section
  class="section-{{ section.id }}-padding pdp-simple  color-{{ section.settings.color_scheme }} product__simple-one "
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  {{ 'section-product-simple-one.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <h1 class="fh2">{{ product.title | escape }}</h1>

  <div class="main-img-wrap">
    {% if product.images.first %}
      {{
        product.images.first
        | image_url: width: 2100
        | image_tag: class: 'product-main-image', loading: 'lazy', alt: product.title
      }}
    {% endif %}
    <img class="bg-texture" src="{{ 'card-background-texture.jpg' | asset_url }}" role="presentation" loading="lazy">

  </div>

  <section class="product-info-main">
    <p class="fh3">{{ product.title | escape }}</p>

    <div id="price-{{ section.id }}" role="status">
      {%- render 'price',
        product: product,
        use_variant: true,
        show_badges: true,
        price_class: 'price--main'
      -%}
    </div>

    {%- if product.description != blank -%}
      <div class="product__description fb quick-add-hidden">
        {{ product.description }}
      </div>
    {%- endif -%}

    <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        <span class="product-form__error-message"></span>
      </div>

      {%- liquid
        assign product_form_id = 'product-form-' | append: section.id
        assign product_tag_callouts = product.metafields.custom.product_tag_callouts.value
      -%}
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        {%- liquid
          assign check_against_inventory = true
          if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
            assign check_against_inventory = false
          endif
          if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
            assign quantity_rule_soldout = true
          endif
        -%}

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        <div class="product-form__buttons">
         
            <div class="card__tag-callouts">
              {% for tag_callout in product_tag_callouts %}
                <span class="product-card__tag">{{ tag_callout }}</span>
              {% endfor %}

              {%- assign available_count = product.selected_or_first_available_variant.inventory_quantity | default: 0 -%}
              <span class="product-card__tag">
                {% if available_count > 0 %}
                  {{ available_count }} available
                {% else %}
                  Sold out
                {% endif %}
              </span>

            </div>

          <button
            id="ProductSubmitButton-{{ section.id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width button--primary"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant == null -%}
                {{ 'products.product.unavailable' | t }}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                Add to bag
              {%- endif -%}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
        </div>
      {%- endform -%}
    </product-form>
  </section>

</section>

{% schema %}
{
  "name": "Product Info Original",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
